<div class="movie-list-container">
  <div>
    <div class="head_buttonDiv">
      <h1 class="title">PirateBae<span id='secondText'>«</span></h1>
      <div>
        <!-- <button class="watchlistbtn"><i id="wlheart" class="fas fa-heart"></i></button> -->
        <button class="watchlistbtn" title="view watchlist" routerLink="/watchlist">t</button>

      </div>
    </div>
  </div>
  <app-search-criteria></app-search-criteria>

  <div class="movieListWrapper">

    <div class="movie-card" *ngFor="let result of data?.results, index as i"
      ng-repeat="result in data?.results | orderBy: '-data?.results[i].vote_average'" (click)="showMovieDesc()">

      <img class="movie-img" *ngIf="data"
        src="https://image.tmdb.org/t/p/w220_and_h330_face{{data?.results[i].poster_path}}" />
      <p class="movie-details">{{data?.results[i].title}}</p>
      <p class="movie-details">{{data?.results[i].release_date}}</p>
      <p class="movie-details"><i class="fas fa-star"></i> {{data?.results[i].vote_average}}</p>
      <i id="addwlheart" class="fas fa-heart" (click)=addToWatchlist(result)></i>

    </div>
    <div class="mamadiv" *ngIf="show">
      <div *ngFor="let result of data?.results, index as i" class="moviedesc">
        <p class="movie-details">{{data?.results[i].title}}</p>
        <p class="movie-details">{{data?.results[i].overview}}</p>
      </div>
    </div>
  </div>
</div>