.wrapper{
  background-image: linear-gradient(217deg, rgb(68, 118, 129, .8), rgb(68, 118, 129, 0) 70.71%),
  linear-gradient(127deg, rgba(64, 81, 115,.8), rgb(64, 81, 115,0) 70.71%),
  linear-gradient(336deg, rgb(68, 81, 123, .8), rgb(68, 81, 123) 70.71%);
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
}

